<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="img/x-icon" href="/static/favicon.ico">
    <title>星夢の楽園</title>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- JavaScript -->
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/audio.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      $(function() { 
        var a = audiojs.createAll({
          trackEnded: function() {
            var next = $('ol li.playing').next();
            if (!next.length) next = $('ol li').first();
            next.addClass('playing').siblings().removeClass('playing');
            audio.load($('a', next).attr('data-src'));
            audio.play();
          }
        });
        var audio = a[0]; first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);
        $('ol li').click(function(e) {
          e.preventDefault();
          $(this).addClass('playing').siblings().removeClass('playing');
          audio.load($('a', this).attr('data-src'));
          audio.play();
        })
    });
    </script>
   {% endblock %}
</head>
<body id="top">
    <div class="welcome_milk" id="block13"><img src="/static/milk.png"  style="height:300px"></div>
    <div class="container" id="block1">
        <div class="row" style="position:relative; height:300px">
    
        {% block welcome %}
            <div class="col-md-6 col-sm-4 col-xs-8" id="block11">
                <div class="shine">
                    <div class = "shadow">
                    <a href="{{ url_for('homepage') }}">星夢の<ruby> 楽園 <rt>パラダイス</rt> </ruby></a>
                    </div>
                    <div class="shine-small">welcome to my paradise</div>
                </div>
            </div>

            <div class="col-md-5 col-sm-6 col-xs-12" id="block12">
                <div class="login-block">
                {% if not session.logged_in %}
                    <div class="container-fluid" id="form_login">
                        <div class="bw_font"><h1>Login</h1></div>
                        <form role="form" action="{{ url_for('login') }}" method="post">
                            <div class="form-group"><div class="row">
                                <label class="col-md-6 col-sm-6 col-xs-6 control-label">Username</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" placeholder="{{ session.username }}" name="username">
                                </div>
                            </div></div>
                            <div class="form-group"><div class="row">
                                <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="password_input">Password</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="password" class="form-control" id="password_input" placeholder="Enter Password" name="password" value="" autocomplete="off">
                                </div>
                            </div></div>
                            <button type="submit" role="button" class="btn btn-primary">Login<img src="/static/favicon.ico"></button>
                            <button type="button" role="button" class="btn btn-warning" id="change_login">→ Sign Up<img src="/static/fav2.ico"></button>
                        </form>
                    </div>
                    <div class="container-fluid" id="form_signup">
                        <div class="bw_font"><h1 class="black_white_font">Sign Up</h1></div>
                        <form role="form" action="{{ url_for('sign_up') }}" method="post">
                            <div class="form-group"><div class="row">
                                <label class="col-md-6 col-sm-6 col-xs-6 control-label">Username</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="text" class="form-control" placeholder="A New Name" name="username">
                                </div>
                            </div></div>
                            <div class="form-group"><div class="row">
                                <label class="col-md-6 col-sm-6 col-xs-6 control-label" for="password_input">Password</label>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <input type="password" class="form-control" id="password_input" placeholder="Enter Password" name="password" value="" autocomplete="off">
                                </div>
                            </div></div>
                            <button type="submit" role="button" class="btn btn-primary">Sign Up<img src="/static/fav2.ico"></button>
                            <button type="button" role="button" class="btn btn-warning" id="change_signup">→ Login<img src="/static/favicon.ico"></button>
                        </form>
                    </div>
                    {% if login_error %} <p class="login_error"><strong>Error:</strong>{{ login_error }}</p> {% endif %}
                    {% if signup_error %} <p class="login_error"><strong>Error:</strong>{{ signup_error }}</p> {% endif %}
                {% else %}
                    <div class="welcome-back"><h2 id="welcome">お帰りなさいませ</h2></div>
                    <div class="bw_font">
                        <h2><a href="{{ url_for('user', username=session.username) }}">{{ session.username }}</a> 様</h2>
                        <h3><a href="{{ url_for('profile') }}">Edit Profile</a> | <a href="{{ url_for('logout') }}">Log Out</a></h3>
                    </div>
                {% endif %}
                </div>
            </div>
        
            <div class="imgplay" id="imgplay"> 
                <div class="inplay" id="inplay"> 
                    <div class="header_flow" id="play1">
                        <img src="/static/header/A1.png"><img src="/static/header/A2.png"><img src="/static/header/A3.png">
                        <img src="/static/header/A4.png"><img src="/static/header/A5.png"><img src="/static/header/A6.png">
                        <img src="/static/header/A7.png"><img src="/static/header/A8.png"><img src="/static/header/A9.png">
                        <img src="/static/header/A10.png"><img src="/static/header/A11.png"><img src="/static/header/A12.png">
                        <img src="/static/header/A13.png"><img src="/static/header/A14.png">
                    </div>
                    <div class="header_flow" id="play2"></div>
                </div>
            </div>
            {% if session.username == "root" %}
            <div class="imgplay" id="imgplayhentai"> 
                <div class="inplay" id="inplayhentai"> 
                    <div class="header_flow" id="play1hentai">
                        <img src="/static/header/B1.png"><img src="/static/header/B2.png"><img src="/static/header/B3.png">
                        <img src="/static/header/B4.png"><img src="/static/header/B5.png"><img src="/static/header/B6.png">
                        <img src="/static/header/B7.png"><img src="/static/header/B8.png"><img src="/static/header/B9.png">
                        <img src="/static/header/B10.png"><img src="/static/header/B11.png"><img src="/static/header/B12.png">
                        <img src="/static/header/B13.png"><img src="/static/header/B14.png">
                    </div>
                    <div class="header_flow" id="play2hentai"></div>
                </div>
            </div>
            {% endif %}
        {% endblock %}
        </div>
    </div>
<script type="text/javascript">
    function ID(id) { return document.getElementById(id); }
    var freqslow=10;var freqfast=2;
    var tabfather=ID("block1");
    var tab=ID("imgplay");var tabhentai=ID("imgplayhentai");
    var tab1=ID("play1");var tab2=ID("play2");
    var tab1hentai=ID("play1hentai");var tab2hentai=ID("play2hentai");
    tab2.innerHTML=tab1.innerHTML;
    if(tabhentai)tab2hentai.innerHTML=tab1hentai.innerHTML;
    function Marquee(){
        if(tab2.offsetWidth - tab.scrollLeft <= 0) { tab.scrollLeft -= tab1.offsetWidth; }
        else { tab.scrollLeft += 1; }
        if(tabhentai){ tabhentai.scrollLeft = tab.scrollLeft;}
    }
    var MyMar=setInterval(Marquee,freqfast);
    tabfather.onmouseover=function() {
        clearInterval(MyMar);MyMar=setInterval(Marquee,freqslow); tab.style.opacity="0.6";
        if(tabhentai) {tabhentai.style.zIndex="49"; tabhentai.style.visibility="visible"; tab.style.visibility="hidden"; }
    };
    tabfather.onmouseout=function() {
        clearInterval(MyMar);MyMar=setInterval(Marquee,freqfast); tab.style.opacity="0.2";
        if(tabhentai) {tabhentai.style.zIndex="0"; tabhentai.style.visibility="hidden"; tab.style.visibility="visible"; }
    };
</script>
    
    <div class="page"><div class="inpage" id="block2">
        <div class="mynav" id="block21">
            <div class="bw_font"><h2>Index</h2>
            <div class="subnav" id="navbar_lg">
                <ul class="subnav_menu">
                    <li id="menu_item_0"><a href="{{ url_for('homepage') }}">Home</a></li>
                    <li id="menu_item_1"><a href="{{ url_for('anime') }}">Anime</a></li>
                    <li id="menu_item_2"><a href="{{ url_for('comic') }}">Comic</a></li>
                    <li id="menu_item_3"><a href="{{ url_for('game') }}">Game</a></li>
                    <li id="menu_item_4"><a href="{{ url_for('novel') }}">Novel</a></li>
                    <li id="menu_item_5"><a href="{{ url_for('music') }}">Music</a></li>
                    <li id="menu_item_6"><a href="{{ url_for('blog') }}">Blog</a></li>
                    <li id="menu_item_7"><a href="{{ url_for('video') }}">Video</a></li>
                    <li id="menu_item_8"><a href="{{ url_for('upload') }}">Upload</a></li>
                </ul>    
            </div></div>
        </div>
        <div class="mynavpic" id="block210">
                    <img src="/static/yami.png">
        </div>

        <div class="container" id="block22">
            {% block flash %}
            <div class="flash-message">
                {% with massages = get_flashed_messages() %}
                {% if messages %}
                    <div class="flash"><ul>
                    {% for massage in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul></div>
                {% endif %}
                {% endwith %}
            </div>
            {% endblock %}
        
            {% block body %}
            {% if error %} <p class="login_error"><strong>Error:</strong>{{ error }}</p> {% endif %}
            {% endblock %}
        
            {% block entries %}
            <div class="div-entry">
                <h1>Comments</h1>
                <ul class="entries">
                {% for entry in entries %}
                    <li><h2>{{ entry[2] }} (by <a href="{{ url_for('user', username=entry[5]) }}">@{{ entry[5] }}</a> )<small>{{ entry[3] }}</small></h2>{{ entry.text|safe }}</li>
                {% else %}
                    <li><em>No comments here so far</em></li>
                {% endfor %}
                </ul>
            </div>
            {% endblock %}
            
            {% block comment %}
            <div class="div-comment">
                {% if session.logged_in %}
                <h2>Message Function Disabled.</h2>
                {% else %}
                <h2>Please LOGIN to leave a comment.</h2>
                {% endif %}
            </div>
            {% endblock %}

            <div class="contact">
                <p>Copyright© http://www.niyishuai.tk</p>
                <p>All Rights Reserved 2014-2024 Yishuai Ni <br> Any problem, Please <a href="mailto:buaamm@gmail.com">Contact Administrator</a>.</p>
            </div>
        </div>
        
        <div class="container" id="block23">
            {% block post %}
            <div class="div-post post_font">
                {% if session.logged_in %}
                <button type="button" class="btn btn-lg btn-block btn-danger"><a href="{{ url_for('add_entry') }}">Post new entry</a></button>
                {% else %}
                <h2>Please LOGIN to POST.</h2>
                {% endif %}
            </div>
            {% endblock %}
        </div>
        <div class="container" id="block24">
        <h2>Music List (有爱自取)</h2>
        <audio preload></audio>
            <ol style="padding:0">
                <li><a href="#" data-src="/static/mp3/初音ミク-てってってー .mp3">(初音ミク)てってってー</a></li>
                <li><a href="#" data-src="/static/mp3/os-uchuujin.mp3">os-uchuujin</a></li>
                <li><a href="#" data-src="/static/mp3/FirstKiss.mp3">FirstKiss</a></li>
                <li><a href="#" data-src="/static/mp3/パチュリーズ·ベストヒットGSK [东方电波少女].mp3">パチュリーズ·ペストヒットGSK</a></li>
                <li><a href="#" data-src="/static/mp3/chikuwa.mp3">chikuwa</a></li>
                <li><a href="#" data-src="/static/mp3/[天才麻将少女] ~サキガツモル~.mp3">[天才麻将少女] ~サキガツモル~</a></li>
                <li><a href="#" data-src="/static/mp3/お賽銭♥ちょうだい　－いまさら修正版－.mp3">お賽銭♥ちょうだい</a></li>
                <!-- <li><a href="#" data-src="/static/mp3/11. ムーンライト伝説 (仏語Ver.).mp3">ムーンライト伝説 (仏語Ver.)</a></li>
                <li><a href="#" data-src="/static/mp3/01 - こんな世界、知りたくなかった。.mp3">こんな世界、知りたくなかった。</a></li>
                <li><a href="#" data-src="/static/mp3/01.Your song＊.mp3">Your song＊</a></li>
                <li><a href="#" data-src="/static/mp3/北出菜奈 - 月华-tsukihana-.mp3">(北出菜奈)月華</a></li>
                <li><a href="#" data-src="/static/mp3/丰崎爱生 - あなたのシアワセ うちのシアワセ.mp3">(豊崎愛生)あなたのシアワセ うちのシアワセ</a></li>
                <li><a href="#" data-src="/static/mp3/南条爱乃 - 君が笑む夕暮れ.mp3">(南條愛乃)君が笑む夕暮れ</a></li>
                <li><a href="#" data-src="/static/mp3/高垣彩阳 - アブラムシの唄.mp3">(高垣彩陽)アブラムシの唄</a></li>
                <li><a href="#" data-src="/static/mp3/能登麻美子 - いちぬけ.mp3">(能登麻美子)いちぬけ</a></li>
                <li><a href="#" data-src="/static/mp3/爆乳工口组 - 爆乳音头【工口人人爱】.mp3">爆乳音頭</a></li>
                <li><a href="#" data-src="/static/mp3/みくみくにしてあげる♪.mp3">みくみくにしてあげる♪</a></li>
                <li><a href="#" data-src="/static/bad_end_night.mp3">Bad∞End∞Night</a></li>
-->
            </ol>
        </div>
        <div class="container" id="block25">
        </div>
    </div></div>

        {% block ending %}
        <div id="footer">
            <a href="#top" class="backtotop">↑ Go to Top ↑<br><span><img src="/static/backtotop.png" width="100%"></span></a>
        </div>
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar_sm">
                    <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand" id="navbar_smhome">〇</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar_sm">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('homepage') }}">Home</a></li>
                        <li><a href="{{ url_for('anime')}}">Anime</a></li>
                        <li><a href="{{ url_for('comic') }}">Comic</a></li>
                        <li><a href="{{ url_for('game') }}">Game</a></li>
                        <li><a href="{{ url_for('novel') }}">Novel</a></li>
                        <li><a href="{{ url_for('music') }}">Music</a></li>
                        <li><a href="{{ url_for('blog') }}">Blog</a></li>
                        <li><a href="{{ url_for('video') }}">Video</a></li>
                        <li><a href="{{ url_for('upload') }}">Upload</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" id="mydropdown" data-toggle="dropdown">Tools<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('video') }}">NONE</a></li>
                                <li><a href="{{ url_for('upload') }}">NONE</a></li>
                                <li><a href="#">None</a></li>
                                <li><a href="#">None</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
<script>
$(".dropdown-toggle").dropdown();
</script>
<script>
jQuery(document).ready(function() {
    var offset = 900;
    var duration = 500;
    var clicked = 0;
    jQuery(window).scroll(function() {
        var scroll = jQuery(this).scrollTop();
        var navtop = (scroll < 300)?(300 - scroll):( (scroll-300)*(document.body.clientHeight - 180)/document.body.scrollHeight );
        jQuery('.mynavpic').stop().animate({top: navtop}, 100);
        jQuery('.mynav').stop().animate({top: navtop}, 100);
        if (clicked == 1) return false;
        if (scroll > offset) {
            jQuery('.backtotop').fadeIn(duration);
        } else {
            jQuery('.backtotop').fadeOut(duration);
        }
    });
    jQuery('.backtotop').click(function(event) {
        event.preventDefault();
        jQuery('html, body').animate({scrollTop: 0}, duration);
        jQuery('.backtotop').fadeOut(duration);
        clicked = 1;
        return false;
    });
    jQuery('#change_login').click(function(event) {
        event.preventDefault();
        jQuery('#form_login').fadeOut(500);
        jQuery('#form_signup').fadeIn(500);
        return false;
    });
    jQuery('#change_signup').click(function(event) {
        event.preventDefault();
        jQuery('#form_signup').fadeOut(500);
        jQuery('#form_login').fadeIn(500);
        return false;
    })
});
</script>
        {% endblock %}
</body>
</html>

