{% extends "layout.html" %}
{% block body %}
    {#
    {% if session.logged_in %}
    <div id="youkuplayer" style="width:480px;height:400px"></div>
    <script type="text/javascript" src="http://player.youku.com/jsapi">
        player = new YKU.Player('youkuplayer',{
        styleid: '0',
        client_id: 'f12d97855abd41a7',
        vid: 'XODI0NzcwMTUy'
        });
    </script>
    {% endif %}
    #}
    <h1>Video from Youku</h1>
    <div class="video" id="youku_video">
        <embed class="videoin" src="http://player.youku.com/player.php/sid/XMTUxNTEwOTc2/v.swf" allowFullScreen="true" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
    </div>

    <h1>Video from Bilibili</h1>
    <div class="video" id="bilibili_video">
        <embed class="videoin" src="http://static.hdslb.com/miniloader.swf?aid=1738367&amp;page=1" allowFullScreen="true" quality="high" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
    </div>

<script>
window.onload=function(){
    document.getElementById("navbar_sm").getElementsByTagName("li")[7].className="active";
    document.getElementById("navbar_lg").getElementsByTagName("li")[7].className="active";
}
</script>

{% endblock %}



